Blog Generate For Website.json
{
  "name": "Blog Generate For Website",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                5
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        -240
      ],
      "id": "bc1f343c-3c41-4c30-938e-48170b25e1b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "google_trends",
        "q": "={{ $json.detectedTopic }}",
        "additionalFields": {
          "hl": "id",
          "geo": "ID",
          "data_type": "RELATED_QUERIES",
          "date": "now 7-d",
          "output": "json"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -1008,
        544
      ],
      "id": "2405b305-daf8-4000-bf1b-5d3944ad2847",
      "name": "Google_trends search",
      "credentials": {
        "serpApi": {
          "id": "8FFecYlNOeGkrbD6",
          "name": "SerpApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -480
      ],
      "id": "a4154a33-cee6-425d-b11b-35bd97ec5a9d",
      "name": "Telegram Trigger",
      "webhookId": "7dac2f87-48f4-4e3b-8ed2-79b715263d5d",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18307fba-dae9-4d16-91a3-0e9aa68813c8",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "#q",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        -480
      ],
      "id": "5b4e26cb-6b11-44e6-9d3d-ea176215beac",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "silahkan gunakan #q untuk mencari related query",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -528
      ],
      "id": "a4519df4-1a4a-4452-ac45-6cb876b69efa",
      "name": "Send a text message",
      "webhookId": "70dd2d1b-5fd2-4fae-a49d-c4b0e82c4609",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari input\nconst context = $('Save Related Query').first().json.organic_results;\n// Generate angka acak antara 0 dan 9\nconst randomIndex = Math.floor(Math.random() * context.length);\n\n// Ambil query berdasarkan index\nconst ContextFinal = context[randomIndex].title + context[randomIndex].snippet;\n\nreturn {\n  json: {\n    ContextFinal,\n    index: randomIndex,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -288
      ],
      "id": "7de5b071-11bb-4871-8da5-cda23020ac2d",
      "name": "Random Related Query"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c403788c-2e66-4175-b772-335678c92b78",
              "name": "organic_results[0].title",
              "value": "={{ $json.organic_results[0].title }}",
              "type": "string"
            },
            {
              "id": "26ed5b7e-72d5-4fcf-b42d-96e15d0a03c5",
              "name": "organic_results[0].snippet",
              "value": "={{ $json.organic_results[0].snippet }}",
              "type": "string"
            },
            {
              "id": "f82d97aa-d746-42ee-b77e-f1ef56bd6e68",
              "name": "organic_results[1].title",
              "value": "={{ $json.organic_results[1].title }}",
              "type": "string"
            },
            {
              "id": "beddef4a-d6c6-4990-96da-d443b894d2bb",
              "name": "organic_results[1].snippet",
              "value": "={{ $json.organic_results[1].snippet }}",
              "type": "string"
            },
            {
              "id": "fa861f54-ee62-4fa1-8360-4cf166b29aac",
              "name": "organic_results[2].title",
              "value": "={{ $json.organic_results[2].title }}",
              "type": "string"
            },
            {
              "id": "ce283683-4ce4-4033-ae7b-6487d9a5dab2",
              "name": "organic_results[2].snippet",
              "value": "={{ $json.organic_results[2].snippet }}",
              "type": "string"
            },
            {
              "id": "575787e8-e976-42c0-a751-00b65084874d",
              "name": "organic_results[3].title",
              "value": "={{ $json.organic_results[3].title }}",
              "type": "string"
            },
            {
              "id": "039324a4-ffb3-4205-97ab-647e05f1aea9",
              "name": "organic_results[3].snippet",
              "value": "={{ $json.organic_results[3].snippet }}",
              "type": "string"
            },
            {
              "id": "c73f46f0-08e5-4edd-b329-3fb08c5c6aef",
              "name": "organic_results[4].title",
              "value": "={{ $json.organic_results[4].title }}",
              "type": "string"
            },
            {
              "id": "ab87c85b-c432-405b-99fb-04e53ec8ccc2",
              "name": "organic_results[4].snippet",
              "value": "={{ $json.organic_results[4].snippet }}",
              "type": "string"
            },
            {
              "id": "84cde64d-d295-4793-a909-1ebd2dea4da9",
              "name": "organic_results[5].title",
              "value": "={{ $json.organic_results[5].title }}",
              "type": "string"
            },
            {
              "id": "3f2ae277-5150-4515-b32d-9a82c32afc79",
              "name": "organic_results[5].snippet",
              "value": "={{ $json.organic_results[5].snippet }}",
              "type": "string"
            },
            {
              "id": "0518e00d-b658-4591-959b-2885fc09145c",
              "name": "organic_results[6].title",
              "value": "={{ $json.organic_results[6].title }}",
              "type": "string"
            },
            {
              "id": "e7f97f9f-c6aa-4398-8439-9ba09d1ee32a",
              "name": "organic_results[6].snippet",
              "value": "={{ $json.organic_results[6].snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -288
      ],
      "id": "cd58cd42-e6f0-4814-a179-71c3e147e7fa",
      "name": "Save Related Query"
    },
    {
      "parameters": {
        "jsCode": "// Create comprehensive prompt using all available context\nconst topic = $input.first().json.ContextFinal;\n\n// Create comprehensive prompt for blog generation\nconst prompt = `Write a comprehensive, well-researched blog post about ${topic} in markdown format.\n\nPlease create a detailed blog post with the following structure:\n1. An engaging introduction that hooks the reader\n2. Main content sections with clear subheadings (use ## for main sections, ### for subsections)\n3. Include relevant examples, case studies, or practical applications\n4. If it's a technical topic, include code examples with proper syntax highlighting\n5. Add tips, best practices, or actionable advice where appropriate\n6. A strong conclusion that summarizes key points\n\nWriting Guidelines:\n- Write 1000-1500 words minimum\n- Use a professional yet accessible tone\n- Include bullet points or numbered lists where helpful\n- Add relevant internal linking suggestions (use placeholder links)\n- Make it SEO-friendly with natural keyword usage\n- Ensure content is original and valuable to readers\n- Use Bahasa Indonesia\n\nIMPORTANT: \n- Do NOT include frontmatter (title, date, etc.) - this will be added separately\n- Start directly with the introduction\n- Use proper markdown formatting\n- Make the content engaging and informative`;\n\nreturn {\n  topic: topic,\n  prompt: prompt,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -96
      ],
      "id": "cf20a018-cc47-4718-b446-7c5ea1d39df1",
      "name": "Create Comprehensive Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"model\": \"deepseek/deepseek-r1-0528:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        48
      ],
      "id": "24d35575-5c10-43be-abd9-a00db3a323d0",
      "name": "Open Router Chat",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "vhGrSTMSr0eiYEuS",
          "name": "DEEPSEEK TOKEN"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const defaultTopics = [\n  \"Teknologi\", \"Inovasi\", \"Kesehatan Digital\", \"AI dan Otomatisasi\", \"Startup Indonesia\",\n  \"Pendidikan\", \"Ekonomi Digital\", \"Gaya Hidup\", \"Lingkungan\", \"Seni dan Kreativitas\",\n  \"Game & E-sports\", \"Kecerdasan Buatan\", \"Sains Populer\", \"Keamanan Siber\"\n];\n\n// Pilih satu topik secara acak dari daftar\nconst randomDefaultTopic = defaultTopics[Math.floor(Math.random() * defaultTopics.length)];\n\nconst request = $input?.first()?.json?.message?.text || \"\";\nconst match = request.match(/#q\\s+([^\\n:]+)/i);\n\n// Gunakan hasil pencocokan atau fallback ke topik acak\nconst topic = match ? match[1].trim() : randomDefaultTopic;\n\nreturn {\n  json: {\n    detectedTopic: topic,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -288
      ],
      "id": "a5228070-2d0c-4a5e-8e8d-604dcdd44db9",
      "name": "Select Topic"
    },
    {
      "parameters": {
        "jsCode": "// Initialize content and metadata\nconst date = new Date().toISOString().split('T')[0];\nconst contentRaw = $('Open Router Chat').first().json.choices[0].message.content;\nconst category = $('Select Topic').first().json.detectedTopic;\n// const excerpt = $('Create Comprehensive Prompt').first().json.topic;\n\nconst cleaned = contentRaw\n  .replace(/^##\\s*/gm, '')             // hapus heading ## \n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')     // hapus bold markdown **\n  .replace(/\\\\n/g, ' ')                // hilangkan newline escape \\n\n  .replace(/\\s+/g, ' ')                // rapikan spasi ganda\n  .trim();\n\nconst excerpt = cleaned.split(' ').slice(0, 15).join(' ') + '...';\nconst dateNow = date;\n\n\nlet content = '';\nconst reasoning = $('Open Router Chat').first().json.choices[0].message.reasoning;\n\nif (typeof contentRaw === 'string') {\n  // Cek apakah mengandung \"\\n\" (escaped)\n  if (contentRaw.includes('\\\\n')) {\n    content = contentRaw.replace(/\\\\n/g, '\\n').trim();\n  } else {\n    content = contentRaw.trim();\n  }\n}\n\nconst shortSlug = excerpt\n  .split(' ')\n  .slice(0, 5)\n  .join(' ')\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')       // Remove special characters\n  .replace(/\\s+/g, '-')               // Replace spaces with hyphens\n  .replace(/-+/g, '-')                // Collapse multiple hyphens\n  .replace(/^-|-$/g, '');             // Trim leading/trailing hyphens\n\nconst title = $('parsed json').first().json.judul;\nconst thumb = $input.first().json.results[0].urls.thumb\nconst smallimg = $input.first().json.results[0].urls.small\nconst safeExcerpt = excerpt.replace(/\"/g, '\\\\\"');\n\nconst imageBlock = `<p align=\"center\">\n  <img src=\"${smallimg}\" alt=\"${shortSlug}\" />\n</p>\\n\\n`;\n\n// Create frontmatter block\nconst frontmatter = `---\ntitle: \"${title}\"\ndate: \"${dateNow}\"\ncategory: \"${category}\"\nexcerpt: \"${safeExcerpt}\"\nimage: \"${thumb}\"\n---\n`;\n\n// Combine with content\nconst fullMarkdown = frontmatter + '\\n' + imageBlock + content;\n\n// Generate filename\nconst filename = `${dateNow}-${shortSlug}.md`;\n\n// Return result\nreturn {\n  frontmatter: frontmatter,\n  topic: excerpt,\n  filename: filename,\n  content: fullMarkdown,\n  reasoning: reasoning\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        0
      ],
      "id": "7edf543e-6ff3-4ead-99f4-88ef2b22f3ea",
      "name": "Markdown Output"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "yumanuralfath",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "NextPortoYuma",
          "mode": "list",
          "cachedResultName": "NextPortoYuma",
          "cachedResultUrl": "https://github.com/yumanuralfath/NextPortoYuma"
        },
        "filePath": "=src/content/blog/{{ $('Markdown Output').item.json.filename }}",
        "fileContent": "={{ $('Markdown Output').item.json.content }}",
        "commitMessage": "=feat(blog): add blog {{ $('Markdown Output').item.json.filename }} from n8n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2800,
        -96
      ],
      "id": "f05f0b29-e2ff-417d-9f6d-2d2601906869",
      "name": "Create a blog post",
      "webhookId": "c5719ac2-a1de-4fcd-a2ee-c3f47d3ed853",
      "credentials": {
        "githubApi": {
          "id": "IvseB6BFRYkcLWJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "yumanuralfath",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "NextPortoYuma",
          "mode": "list",
          "cachedResultName": "NextPortoYuma",
          "cachedResultUrl": "https://github.com/yumanuralfath/NextPortoYuma"
        },
        "events": [
          "deployment"
        ],
        "options": {
          "insecureSSL": false
        }
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -48
      ],
      "id": "a0941422-c2ab-4d07-9af7-dcd06ce3634a",
      "name": "Github Trigger",
      "webhookId": "9815cd89-cc7c-411d-807f-c5712f038955",
      "credentials": {
        "githubApi": {
          "id": "IvseB6BFRYkcLWJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "🚀 Success Deploy",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        -48
      ],
      "id": "10edef85-aea4-40fb-8852-47c553db443a",
      "name": "Send a text message2",
      "webhookId": "b441ccf0-5469-42f9-b75b-099f77cb08e7",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3092563c-8736-427d-8253-dde44dd37e37",
              "leftValue": "={{ $node[\"Create a blog post\"].json[\"commit\"][\"url\"] }}  ",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3024,
        -96
      ],
      "id": "9ec3bb26-4dda-422b-b30b-6ef1d646f555",
      "name": "check github"
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=🤖 Ai Thought:  {{ $('Markdown Output').item.json.reasoning }}\n🔗 Commit URL: {{ $('Create a blog post').item.json.commit.html_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        -192
      ],
      "id": "3af5b87d-fd24-42fe-9487-64bc00d8196e",
      "name": "Send a text message3",
      "webhookId": "e5e97383-bca6-421a-9e8d-7f6634d9210d",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=failed 😫❌",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        0
      ],
      "id": "4ed735ce-dd71-4a5e-894c-765f1989f3a3",
      "name": "Send a text message4",
      "webhookId": "e5e97383-bca6-421a-9e8d-7f6634d9210d",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"model\": \"deepseek/deepseek-r1-0528:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Anda adalah seorang penulis blog profesional. Tugas Anda adalah membuat judul blog yang menarik, relevan, dan SEO-friendly dalam Bahasa Indonesia. Selalu berikan respons dalam format JSON yang valid tanpa tambahan teks atau penjelasan.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Buatkan satu judul blog yang menarik dan SEO-friendly dalam Bahasa Indonesia untuk topik: {{ $json.topic }}\\n\\nPersyaratan judul:\\n- Maksimal 60 karakter untuk SEO\\n- Menarik perhatian pembaca\\n- Relevan dengan topik\\n- Menggunakan kata kunci yang tepat\\n\\nRespond ONLY with valid JSON in this exact format:\\n{\\\"judul\\\":\\\"your title here\\\"}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        320
      ],
      "id": "063ba97d-b1f0-41b8-8ba7-f3f1f5c9861b",
      "name": "Title Search",
      "credentials": {
        "httpBearerAuth": {
          "id": "vhGrSTMSr0eiYEuS",
          "name": "DEEPSEEK TOKEN"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let judulRaw = $input.first().json.choices[0].message.content;\n// Bersihkan blok kode jika ada\nif (judulRaw.startsWith(\"\")) {\n  judulRaw = judulRaw.replace(/(?:json)?\\n?([\\s\\S]*?)```/, '$1').trim();\n}\nconst parsed = JSON.parse(judulRaw);\n\nreturn {\n  judul: parsed.judul\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -192
      ],
      "id": "82e64b1e-5dfb-4b92-9f63-635a1071041b",
      "name": "parsed json",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        0
      ],
      "id": "0a102669-146c-41ed-9ca2-fa96f01e3358",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://api.unsplash.com/search/photos?query={{ $('Select Topic').item.json.detectedTopic }}&client_id=IGsXX_-Q6GXNYeisLAIB4OVqnqq2QwTiNvNJ6duH9ek",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        0
      ],
      "id": "829cb2c0-398a-4a98-b469-dcd2d018e2cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1282266650",
        "message": "=Silahkan pilih topik yang ingin di post:\n0. {{ $json.organic_results[0].snippet}}\n1. {{ $json.organic_results[1].snippet }}\n2. {{ $json.organic_results[2].snippet }}\n3. {{ $json.organic_results[3].snippet }}\n4. {{ $json.organic_results[4].snippet }}\n5. {{ $json.organic_results[5].snippet }}\n6. {{ $json.organic_results[6].snippet }}",
        "responseType": "freeText",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -288
      ],
      "id": "d7ae2552-990c-4805-a9fc-e1b9d4eebb3c",
      "name": "Select Menu",
      "webhookId": "6e2c2cc7-f56e-49ff-b9df-7c0c597ee7fe",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "209c5b47-597d-4af3-9ffe-99df493ff0d0",
              "leftValue": "={{ $json.data.text }}",
              "rightValue": "^\\d$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -192
      ],
      "id": "826d84ed-a53d-49af-984f-74470471185f",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=Karena kamu tidak menjawab atau jawaban valid maka:\n🔍 Query yang dipilih:{{ $json.randomQuery }}\n📝 Query Index: {{ $json.index }} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -336
      ],
      "id": "ed681f05-dc58-4aa2-9ed5-08bb07e3024d",
      "name": "Send valid query gacha",
      "webhookId": "70dd2d1b-5fd2-4fae-a49d-c4b0e82c4609",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// const risingQueries = $('Save Related Query').first().json.related_queries.rising;\nconst context = $('Save Related Query').first().json.organic_results;\n\nconst indexStr = $input.first().json.data.text\nconst index = parseInt(indexStr, 7);\n\nconst ContextFinal = context[index].title + context[index].snippet;\n\nreturn {\n  json: {\n    ContextFinal,\n    index: index,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -48
      ],
      "id": "36d5a02a-2e9a-47dc-bacf-b12d88ae38aa",
      "name": "input query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dcecb47-4c52-4b4a-9320-7ee98b6fc164",
              "leftValue": "={{ $json.data.text }}",
              "rightValue": "Stop",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -288
      ],
      "id": "aabc6a51-4718-473f-a66c-1a6f62f78593",
      "name": "If2"
    },
    {
      "parameters": {
        "q": "={{ $json.detectedTopic }}",
        "location": "Indonesia",
        "additionalFields": {
          "google_domain": "google.com",
          "gl": "id",
          "hl": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -336,
        -288
      ],
      "id": "3ee0aec4-e17a-42cc-9f7a-8fef30be9b2d",
      "name": "Google search",
      "credentials": {
        "serpApi": {
          "id": "8FFecYlNOeGkrbD6",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=꧁𓊈𒆜{{ $json.judul }}𒆜𓊉꧂\n──── ୨୧ ────\n{{ $('Create Comprehensive Prompt').item.json.topic }}\n────୨ৎ────",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        -240
      ],
      "id": "cdfde522-5b46-4b1f-9f23-de1e34d0771b",
      "name": "Send a text message1",
      "webhookId": "82c3e7d4-6dc8-484c-99f6-872e7a33d53f",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"model\": \"qwen/qwen3-235b-a22b-07-25:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Anda adalah seorang penulis blog profesional. Tugas Anda adalah membuat judul blog yang menarik, relevan, dan SEO-friendly dalam Bahasa Indonesia. Selalu berikan respons dalam format JSON yang valid tanpa tambahan teks atau penjelasan.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Buatkan satu judul blog yang menarik dan SEO-friendly dalam Bahasa Indonesia untuk topik: {{ $json.topic }}\\n\\nPersyaratan judul:\\n- Maksimal 60 karakter untuk SEO\\n- Menarik perhatian pembaca\\n- Relevan dengan topik\\n- Menggunakan kata kunci yang tepat\\n\\nRespond ONLY with valid JSON in this exact format:\\n{\\\"judul\\\":\\\"your title here\\\"}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -192
      ],
      "id": "5eb6ca3a-5906-4a60-a18a-b53ba2b20a75",
      "name": "Title",
      "credentials": {
        "httpBearerAuth": {
          "id": "vhGrSTMSr0eiYEuS",
          "name": "DEEPSEEK TOKEN"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1282266650",
        "message": "={{ $json.frontmatter }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2352,
        0
      ],
      "id": "aebdfe97-5bcc-4e32-a111-d6ad884beced",
      "name": "Send message and wait for response1",
      "webhookId": "f15268cf-e352-4d2e-a1dd-179276e10858",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80fba905-9c58-4502-8edc-ee4e7b57113b",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3556dfe2-a016-47d7-bb3d-7253bb49945f",
              "leftValue": "={{ $('Markdown Output').item.json.frontmatter }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        0
      ],
      "id": "5ff430e5-a74e-49d0-9a25-0ccfd6e6d603",
      "name": "If4"
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "❎ Decline Success and stop the workflow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        96
      ],
      "id": "1125936b-aa22-492f-beb2-691e8ab20598",
      "name": "Send a text message5",
      "webhookId": "8408d1a8-e0ae-4ef1-85fd-33b5d18ed038",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "☠️ Berhasil di hentikan karena topik gak cocok",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -384
      ],
      "id": "9a880615-e56c-475f-8c50-a49bc86d24b0",
      "name": "Send a text message6",
      "webhookId": "5e2954e4-43ad-408a-b0a8-35ed0314edb0",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "DISIMPAN BUAT NTAR KALAU DIPAKE LAGI",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        208
      ],
      "id": "2e5cab53-17d0-4dea-8f80-aed9d772f96d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Google_trends search": [
      {
        "json": {
          "search_metadata": {
            "id": "6880d4882771432c3b8a344b",
            "status": "Success",
            "json_endpoint": "https://serpapi.com/searches/57006ad6645ee5fd/6880d4882771432c3b8a344b.json",
            "created_at": "2025-07-23 12:24:40 UTC",
            "processed_at": "2025-07-23 12:24:40 UTC",
            "google_trends_url": "https://trends.google.com/trends/embed/explore/RELATED_QUERIES?hl=en&tz=420&req=%7B%22comparisonItem%22%3A%5B%7B%22keyword%22%3A%22teknologi%22%2C%22geo%22%3A%22ID%22%2C%22time%22%3A%22now+7-d%22%7D%5D%2C%22category%22%3A0%2C%22property%22%3A%22%22%7D",
            "raw_html_file": "https://serpapi.com/searches/57006ad6645ee5fd/6880d4882771432c3b8a344b.html",
            "prettify_html_file": "https://serpapi.com/searches/57006ad6645ee5fd/6880d4882771432c3b8a344b.prettify",
            "total_time_taken": 4.91
          },
          "search_parameters": {
            "engine": "google_trends",
            "q": "teknologi",
            "hl": "en",
            "geo": "ID",
            "date": "now 7-d",
            "tz": "420",
            "data_type": "RELATED_QUERIES"
          },
          "related_queries": {
            "rising": [
              {
                "query": "apa peran fisika dalam teknologi komunikasi khususnya pada penggunaan gelombang elektromagnetik",
                "value": "Breakout",
                "extracted_value": 5750,
                "link": "https://trends.google.com/trends/explore?q=apa+peran+fisika+dalam+teknologi+komunikasi+khususnya+pada+penggunaan+gelombang+elektromagnetik&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+peran+fisika+dalam+teknologi+komunikasi+khususnya+pada+penggunaan+gelombang+elektromagnetik&tz=420"
              },
              {
                "query": "jelaskan hubungan antara sudut kemiringan bidang miring dan percepatan benda yang bergerak di atasnya tanpa gesekan",
                "value": "Breakout",
                "extracted_value": 5100,
                "link": "https://trends.google.com/trends/explore?q=jelaskan+hubungan+antara+sudut+kemiringan+bidang+miring+dan+percepatan+benda+yang+bergerak+di+atasnya+tanpa+gesekan&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=jelaskan+hubungan+antara+sudut+kemiringan+bidang+miring+dan+percepatan+benda+yang+bergerak+di+atasnya+tanpa+gesekan&tz=420"
              },
              {
                "query": "apa peran ilmu fisika dalam pembangkit listrik tenaga air",
                "value": "+4,300%",
                "extracted_value": 4300,
                "link": "https://trends.google.com/trends/explore?q=apa+peran+ilmu+fisika+dalam+pembangkit+listrik+tenaga+air&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+peran+ilmu+fisika+dalam+pembangkit+listrik+tenaga+air&tz=420"
              },
              {
                "query": "apa keunikan warna mermaid design pada reno 14?",
                "value": "+4,250%",
                "extracted_value": 4250,
                "link": "https://trends.google.com/trends/explore?q=apa+keunikan+warna+mermaid+design+pada+reno+14?&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+keunikan+warna+mermaid+design+pada+reno+14%3F&tz=420"
              },
              {
                "query": "teknologi apa yang membuat layar reno 14 series responsif?",
                "value": "+4,050%",
                "extracted_value": 4050,
                "link": "https://trends.google.com/trends/explore?q=teknologi+apa+yang+membuat+layar+reno+14+series+responsif?&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+apa+yang+membuat+layar+reno+14+series+responsif%3F&tz=420"
              },
              {
                "query": "kelebihan desain reno14 proses finishing menciptakan efek warna sisik mermaid adalah",
                "value": "+3,800%",
                "extracted_value": 3800,
                "link": "https://trends.google.com/trends/explore?q=kelebihan+desain+reno14+proses+finishing+menciptakan+efek+warna+sisik+mermaid+adalah&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=kelebihan+desain+reno14+proses+finishing+menciptakan+efek+warna+sisik+mermaid+adalah&tz=420"
              },
              {
                "query": "penyebab adanya inovasi teknologi untuk mengatasi limbah plastik adalah",
                "value": "+3,800%",
                "extracted_value": 3800,
                "link": "https://trends.google.com/trends/explore?q=penyebab+adanya+inovasi+teknologi+untuk+mengatasi+limbah+plastik+adalah&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=penyebab+adanya+inovasi+teknologi+untuk+mengatasi+limbah+plastik+adalah&tz=420"
              },
              {
                "query": "bagaimana hukum 1 newton berlaku pada gerak mobil di jalan datar tanpa gesekan",
                "value": "+3,450%",
                "extracted_value": 3450,
                "link": "https://trends.google.com/trends/explore?q=bagaimana+hukum+1+newton+berlaku+pada+gerak+mobil+di+jalan+datar+tanpa+gesekan&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=bagaimana+hukum+1+newton+berlaku+pada+gerak+mobil+di+jalan+datar+tanpa+gesekan&tz=420"
              },
              {
                "query": "apa dampak perubahan sosial terhadap struktur keluarga",
                "value": "+3,450%",
                "extracted_value": 3450,
                "link": "https://trends.google.com/trends/explore?q=apa+dampak+perubahan+sosial+terhadap+struktur+keluarga&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+dampak+perubahan+sosial+terhadap+struktur+keluarga&tz=420"
              },
              {
                "query": "jelaskan rumusan profil pelajar pancasila",
                "value": "+2,650%",
                "extracted_value": 2650,
                "link": "https://trends.google.com/trends/explore?q=jelaskan+rumusan+profil+pelajar+pancasila&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=jelaskan+rumusan+profil+pelajar+pancasila&tz=420"
              },
              {
                "query": "revolusi industri pertama kali terjadi di...",
                "value": "+2,200%",
                "extracted_value": 2200,
                "link": "https://trends.google.com/trends/explore?q=revolusi+industri+pertama+kali+terjadi+di...&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=revolusi+industri+pertama+kali+terjadi+di...&tz=420"
              },
              {
                "query": "apa teknologi baterai yang digunakan reno 14 series?",
                "value": "+1,250%",
                "extracted_value": 1250,
                "link": "https://trends.google.com/trends/explore?q=apa+teknologi+baterai+yang+digunakan+reno+14+series?&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+teknologi+baterai+yang+digunakan+reno+14+series%3F&tz=420"
              },
              {
                "query": "apa teknologi baterai yang digunakan reno 14 series",
                "value": "+1,100%",
                "extracted_value": 1100,
                "link": "https://trends.google.com/trends/explore?q=apa+teknologi+baterai+yang+digunakan+reno+14+series&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+teknologi+baterai+yang+digunakan+reno+14+series&tz=420"
              },
              {
                "query": "apa yang kamu ketahui tentang informatika",
                "value": "+900%",
                "extracted_value": 900,
                "link": "https://trends.google.com/trends/explore?q=apa+yang+kamu+ketahui+tentang+informatika&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+yang+kamu+ketahui+tentang+informatika&tz=420"
              },
              {
                "query": "perubahan ekonomi cara memenuhi kebutuhan hidup",
                "value": "+500%",
                "extracted_value": 500,
                "link": "https://trends.google.com/trends/explore?q=perubahan+ekonomi+cara+memenuhi+kebutuhan+hidup&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perubahan+ekonomi+cara+memenuhi+kebutuhan+hidup&tz=420"
              },
              {
                "query": "ekonomi cara memenuhi kebutuhan hidup",
                "value": "+500%",
                "extracted_value": 500,
                "link": "https://trends.google.com/trends/explore?q=ekonomi+cara+memenuhi+kebutuhan+hidup&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=ekonomi+cara+memenuhi+kebutuhan+hidup&tz=420"
              },
              {
                "query": "perubahan sistem pemerintahan cara mengatur masyarakat",
                "value": "+500%",
                "extracted_value": 500,
                "link": "https://trends.google.com/trends/explore?q=perubahan+sistem+pemerintahan+cara+mengatur+masyarakat&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perubahan+sistem+pemerintahan+cara+mengatur+masyarakat&tz=420"
              },
              {
                "query": "pengertian teknologi perkantoran",
                "value": "+450%",
                "extracted_value": 450,
                "link": "https://trends.google.com/trends/explore?q=pengertian+teknologi+perkantoran&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=pengertian+teknologi+perkantoran&tz=420"
              },
              {
                "query": "teknologi veteriner adalah",
                "value": "+400%",
                "extracted_value": 400,
                "link": "https://trends.google.com/trends/explore?q=teknologi+veteriner+adalah&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+veteriner+adalah&tz=420"
              },
              {
                "query": "sistem pemerintahan cara mengatur masyarakat",
                "value": "+400%",
                "extracted_value": 400,
                "link": "https://trends.google.com/trends/explore?q=sistem+pemerintahan+cara+mengatur+masyarakat&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=sistem+pemerintahan+cara+mengatur+masyarakat&tz=420"
              },
              {
                "query": "apa yang dimaksud dengan informatika",
                "value": "+400%",
                "extracted_value": 400,
                "link": "https://trends.google.com/trends/explore?q=apa+yang+dimaksud+dengan+informatika&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+yang+dimaksud+dengan+informatika&tz=420"
              },
              {
                "query": "mengapa kapal laut dengan banyak muatan dapat mengapung di atas air",
                "value": "+350%",
                "extracted_value": 350,
                "link": "https://trends.google.com/trends/explore?q=mengapa+kapal+laut+dengan+banyak+muatan+dapat+mengapung+di+atas+air&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=mengapa+kapal+laut+dengan+banyak+muatan+dapat+mengapung+di+atas+air&tz=420"
              },
              {
                "query": "perubahan sosial",
                "value": "+170%",
                "extracted_value": 170,
                "link": "https://trends.google.com/trends/explore?q=perubahan+sosial&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perubahan+sosial&tz=420"
              },
              {
                "query": "dampak positif teknologi",
                "value": "+160%",
                "extracted_value": 160,
                "link": "https://trends.google.com/trends/explore?q=dampak+positif+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=dampak+positif+teknologi&tz=420"
              },
              {
                "query": "ilmu pengetahuan dan teknologi",
                "value": "+110%",
                "extracted_value": 110,
                "link": "https://trends.google.com/trends/explore?q=ilmu+pengetahuan+dan+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=ilmu+pengetahuan+dan+teknologi&tz=420"
              }
            ],
            "top": [
              {
                "query": "teknologi informasi",
                "value": "100",
                "extracted_value": 100,
                "link": "https://trends.google.com/trends/explore?q=teknologi+informasi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+informasi&tz=420"
              },
              {
                "query": "teknologi adalah",
                "value": "90",
                "extracted_value": 90,
                "link": "https://trends.google.com/trends/explore?q=teknologi+adalah&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+adalah&tz=420"
              },
              {
                "query": "contoh teknologi",
                "value": "78",
                "extracted_value": 78,
                "link": "https://trends.google.com/trends/explore?q=contoh+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=contoh+teknologi&tz=420"
              },
              {
                "query": "teknologi digital",
                "value": "67",
                "extracted_value": 67,
                "link": "https://trends.google.com/trends/explore?q=teknologi+digital&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+digital&tz=420"
              },
              {
                "query": "dampak teknologi",
                "value": "63",
                "extracted_value": 63,
                "link": "https://trends.google.com/trends/explore?q=dampak+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=dampak+teknologi&tz=420"
              },
              {
                "query": "perkembangan teknologi",
                "value": "59",
                "extracted_value": 59,
                "link": "https://trends.google.com/trends/explore?q=perkembangan+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perkembangan+teknologi&tz=420"
              },
              {
                "query": "teknologi pendidikan",
                "value": "56",
                "extracted_value": 56,
                "link": "https://trends.google.com/trends/explore?q=teknologi+pendidikan&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+pendidikan&tz=420"
              },
              {
                "query": "perubahan teknologi",
                "value": "41",
                "extracted_value": 41,
                "link": "https://trends.google.com/trends/explore?q=perubahan+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perubahan+teknologi&tz=420"
              },
              {
                "query": "teknologi informatika",
                "value": "32",
                "extracted_value": 32,
                "link": "https://trends.google.com/trends/explore?q=teknologi+informatika&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+informatika&tz=420"
              },
              {
                "query": "jurusan teknologi",
                "value": "31",
                "extracted_value": 31,
                "link": "https://trends.google.com/trends/explore?q=jurusan+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=jurusan+teknologi&tz=420"
              },
              {
                "query": "apa itu teknologi",
                "value": "31",
                "extracted_value": 31,
                "link": "https://trends.google.com/trends/explore?q=apa+itu+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=apa+itu+teknologi&tz=420"
              },
              {
                "query": "informatika",
                "value": "30",
                "extracted_value": 30,
                "link": "https://trends.google.com/trends/explore?q=informatika&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=informatika&tz=420"
              },
              {
                "query": "dampak negatif teknologi",
                "value": "25",
                "extracted_value": 25,
                "link": "https://trends.google.com/trends/explore?q=dampak+negatif+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=dampak+negatif+teknologi&tz=420"
              },
              {
                "query": "jurnal teknologi",
                "value": "25",
                "extracted_value": 25,
                "link": "https://trends.google.com/trends/explore?q=jurnal+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=jurnal+teknologi&tz=420"
              },
              {
                "query": "teknologi pangan",
                "value": "25",
                "extracted_value": 25,
                "link": "https://trends.google.com/trends/explore?q=teknologi+pangan&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+pangan&tz=420"
              },
              {
                "query": "teknologi ai",
                "value": "24",
                "extracted_value": 24,
                "link": "https://trends.google.com/trends/explore?q=teknologi+ai&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+ai&tz=420"
              },
              {
                "query": "teknologi pertanian",
                "value": "23",
                "extracted_value": 23,
                "link": "https://trends.google.com/trends/explore?q=teknologi+pertanian&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+pertanian&tz=420"
              },
              {
                "query": "ilmu pengetahuan dan teknologi",
                "value": "23",
                "extracted_value": 23,
                "link": "https://trends.google.com/trends/explore?q=ilmu+pengetahuan+dan+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=ilmu+pengetahuan+dan+teknologi&tz=420"
              },
              {
                "query": "manfaat teknologi",
                "value": "21",
                "extracted_value": 21,
                "link": "https://trends.google.com/trends/explore?q=manfaat+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=manfaat+teknologi&tz=420"
              },
              {
                "query": "pengertian teknologi",
                "value": "21",
                "extracted_value": 21,
                "link": "https://trends.google.com/trends/explore?q=pengertian+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=pengertian+teknologi&tz=420"
              },
              {
                "query": "rekayasa teknologi",
                "value": "20",
                "extracted_value": 20,
                "link": "https://trends.google.com/trends/explore?q=rekayasa+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=rekayasa+teknologi&tz=420"
              },
              {
                "query": "teknologi informasi dan komunikasi",
                "value": "20",
                "extracted_value": 20,
                "link": "https://trends.google.com/trends/explore?q=teknologi+informasi+dan+komunikasi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=teknologi+informasi+dan+komunikasi&tz=420"
              },
              {
                "query": "perubahan sosial",
                "value": "18",
                "extracted_value": 18,
                "link": "https://trends.google.com/trends/explore?q=perubahan+sosial&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=perubahan+sosial&tz=420"
              },
              {
                "query": "dampak positif teknologi",
                "value": "16",
                "extracted_value": 16,
                "link": "https://trends.google.com/trends/explore?q=dampak+positif+teknologi&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=dampak+positif+teknologi&tz=420"
              },
              {
                "query": "informasi adalah",
                "value": "16",
                "extracted_value": 16,
                "link": "https://trends.google.com/trends/explore?q=informasi+adalah&date=now+7-d&geo=ID",
                "serpapi_link": "https://serpapi.com/search.json?data_type=RELATED_QUERIES&date=now+7-d&engine=google_trends&geo=ID&hl=en&q=informasi+adalah&tz=420"
              }
            ]
          }
        }
      }
    ],
    "Send valid query gacha": [
      {
        "json": {
          "ok": true,
          "result": {
            "message_id": 52,
            "from": {
              "id": 7695897574,
              "is_bot": true,
              "first_name": "Yumana",
              "username": "YumanaBot"
            },
            "chat": {
              "id": 1282266650,
              "first_name": "Yuma",
              "last_name": "Nur Alfath",
              "username": "yumana20",
              "type": "private"
            },
            "date": 1753277407,
            "text": "✅ Query yang terpilih:teknologi apa yang membuat layar reno 14 series responsif? ke 4 dari 10\n\nThis message was sent automatically with n8n",
            "entities": [
              {
                "offset": 95,
                "length": 41,
                "type": "italic"
              },
              {
                "offset": 136,
                "length": 3,
                "type": "text_link",
                "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_5ce5c7bb69689bb5026a039f71db56efa2d930850a7172513b11beb1d0cdb7c3"
              }
            ],
            "link_preview_options": {
              "is_disabled": true
            }
          }
        }
      }
    ],
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 145487840,
          "message": {
            "message_id": 210,
            "from": {
              "id": 1282266650,
              "is_bot": false,
              "first_name": "Yuma",
              "last_name": "Nur Alfath",
              "username": "yumana20",
              "language_code": "en"
            },
            "chat": {
              "id": 1282266650,
              "first_name": "Yuma",
              "last_name": "Nur Alfath",
              "username": "yumana20",
              "type": "private"
            },
            "date": 1753404685,
            "text": "#q sejarah programmer",
            "entities": [
              {
                "offset": 0,
                "length": 2,
                "type": "hashtag"
              }
            ]
          }
        }
      }
    ],
    "Send message and wait for response1": [
      {
        "json": {
          "data": {
            "approved": true
          }
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_trends search": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Select Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Related Query": {
      "main": [
        [
          {
            "node": "Create Comprehensive Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send valid query gacha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Related Query": {
      "main": [
        [
          {
            "node": "Select Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Comprehensive Prompt": {
      "main": [
        [
          {
            "node": "Open Router Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router Chat": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select Topic": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Output": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a blog post": {
      "main": [
        [
          {
            "node": "check github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check github": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Search": {
      "main": [
        []
      ]
    },
    "parsed json": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Menu": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "input query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random Related Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input query": {
      "main": [
        [
          {
            "node": "Create Comprehensive Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "Save Related Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Send valid query gacha": {
      "main": [
        []
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "parsed json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Create a blog post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta",
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 60
  },
  "versionId": "cfd17099-f517-4f37-8630-208fb941fe86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ce5c7bb69689bb5026a039f71db56efa2d930850a7172513b11beb1d0cdb7c3"
  },
  "id": "KdU2iI9yqxmpmlTM",
  "tags": []
}