IP Abuse Ban.json
{
  "name": "IP Abuse Ban",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function addIpToExpression(oldExpression, newIp) {\n  const match = oldExpression.match(/\\{([^}]*)\\}/);\n\n  if(!match) {\n    return {\n      error: \"Format expression not valid\"\n    };\n  }\n\n  const existingIps = match[1].split(' ').filter(ip => ip);\n\n  if (!existingIps.includes(newIp)){\n    existingIps.push(newIp);\n  }\n\n  const newIpString = existingIps.join(' ');\n\n  const newWExpression = `(ip.src in {${newIpString}})`;\n\n  return {\n    new_expression: newWExpression\n  };\n}\n\nreturn addIpToExpression($input.first().json.old_expression, $input.first().json.ip)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        608
      ],
      "id": "afa1d684-a760-4609-8cbb-2d2cd9c18463",
      "name": "Prepare WAF Rule"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.cloudflare.com/client/v4/zones/{{ $('Save IP Ban Data1').item.json.zone_id }}/rulesets/{{ $('Prepare Success Data1').item.json.rule_id }}/rules/{{ $('Prepare Success Data1').item.json.rules_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "expression",
              "value": "={{ $json.new_expression }}"
            },
            {
              "name": "action",
              "value": "block"
            },
            {
              "name": "description",
              "value": "IP BAN BANGKE"
            },
            {
              "name": "enabled",
              "value": "={{ true }}"
            },
            {
              "name": "id",
              "value": "={{ $('Prepare Success Data1').item.json.rules_id }}"
            },
            {
              "name": "ref",
              "value": "={{ $('Prepare Success Data1').item.json.rules_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        608
      ],
      "id": "71226876-b5dd-4264-87ce-131a57973017",
      "name": "Create WAF Rule",
      "credentials": {
        "httpBearerAuth": {
          "id": "eepRJvIrbQqkJeeF",
          "name": "cloudflare bearer token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=🔥 WAF Rule created for IP {{ $('Prepare WAF Rule').item.json.ip }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3680,
        512
      ],
      "id": "92c033f3-09c7-40c9-8dcf-0fec8ea9ab95",
      "name": "WAF Success Message",
      "webhookId": "862ac322-6963-4b89-95d3-d232d310bffb",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db7353a-e8ac-4a9a-a779-cd1301ffef90",
              "name": "ip",
              "value": "={{ $json.body.ip }}",
              "type": "string"
            },
            {
              "id": "d1767d32-fb66-4fb7-abe9-c2a1c7421a9b",
              "name": "reason",
              "value": "={{ $json.body.reason }}",
              "type": "string"
            },
            {
              "id": "a8f4c1b2-3d5e-4f6a-9b8c-7e0f1a2b3c4d",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "b9c5d3e1-4f7a-5b8c-6d9e-8f0a1b2c3d4e",
              "name": "zone_id",
              "value": "={{ $json.body.zone_id || 'f9259bfe590d9393b1f250d59dcf2de8' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        896
      ],
      "id": "967df987-4c0d-401d-9cc9-9e47fe5f91e9",
      "name": "Save IP Ban Data1"
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/zones/{{ $json.zone_id }}/rulesets/phases/http_request_firewall_custom/entrypoint",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        896
      ],
      "id": "fdf4626a-346d-4e7c-9dc0-2358a3a7a6da",
      "name": "Cloudflare Block IP1",
      "credentials": {
        "httpBearerAuth": {
          "id": "eepRJvIrbQqkJeeF",
          "name": "cloudflare bearer token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
              "name": "ip",
              "value": "={{ $('Save IP Ban Data1').item.json.ip }}",
              "type": "string"
            },
            {
              "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
              "name": "reason",
              "value": "={{ $('Save IP Ban Data1').item.json.reason }}",
              "type": "string"
            },
            {
              "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
              "name": "status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
              "name": "cloudflare_response",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "5f6a7b8c-9d0e-1f2a-3b4c-5d6e7f8a9b0c",
              "name": "rule_id",
              "value": "={{ $json.result.id }}",
              "type": "string"
            },
            {
              "id": "10222f87-174b-4b9a-aa01-c53aea8edf91",
              "name": "rules_id",
              "value": "={{ $json.result.rules[0].id }}",
              "type": "string"
            },
            {
              "id": "04fc02ae-c663-485b-8e7e-69f2dc4f4d16",
              "name": "old_expression",
              "value": "={{ $json.result.rules[0].expression }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        704
      ],
      "id": "8fe99b94-061e-45e8-8aef-95e5625d9679",
      "name": "Prepare Success Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
              "name": "ip",
              "value": "={{ $('Save IP Ban Data1').item.json.ip }}",
              "type": "string"
            },
            {
              "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
              "name": "reason",
              "value": "={{ $('Save IP Ban Data1').item.json.reason }}",
              "type": "string"
            },
            {
              "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
              "name": "error",
              "value": "={{ $json.errors || $json.messages || 'Unknown error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        992
      ],
      "id": "528e5648-c594-437b-89b0-d81921c22168",
      "name": "Prepare Failure Data1"
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=✅ IP: {{ $json.ip }}\n   Reason: {{ $json.reason }}\nSuccesfully Blocked",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        800
      ],
      "id": "798ab076-f6d6-46ab-80cb-13ce32dce9fe",
      "name": "Send Success Message1",
      "webhookId": "f8cf1ffc-d0db-4201-8ee5-6e47cac30632",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=❌ IP {{ $json.ip }}\n   REASON :{{ $json.reason }}.\n   Error: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        992
      ],
      "id": "39b79647-dfbf-4517-a16b-f89156a24610",
      "name": "Send Failure Message1",
      "webhookId": "e106a1fe-e636-4bbc-a932-8a9327c559e2",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/block-ip",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1440,
        896
      ],
      "id": "4d695611-c4a9-48cc-84cd-55fdecf8425f",
      "name": "Webhook",
      "webhookId": "9b648e0f-58e0-4ae7-a6d6-89eaebed3e76",
      "credentials": {
        "httpBasicAuth": {
          "id": "XdflusyDR2Seiq2A",
          "name": "WEBHOOK BASIC AUTH"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"IP blocking request received\",\n  \"ip\": \"{{ $json.body.ip }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1664,
        896
      ],
      "id": "4c12df45-5d28-465f-ac26-00e4239e74c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29013863-282c-4139-8814-db69bc84089c",
              "leftValue": "={{ $('Cloudflare Block IP1').item.json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        800
      ],
      "id": "998999f1-fbe0-4453-93d5-d932bc7d47d4",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b455f1d4-bb44-48f2-b4fc-244f20f63de8",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3456,
        608
      ],
      "id": "718c91dd-41be-44c4-81c7-1ea0223b8a02",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1282266650",
        "text": "=❌ IP {{ $json.ip }}\n   REASON :{{ $json.reason }}.\n   Error: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3680,
        704
      ],
      "id": "4668d6d3-6888-4472-90a1-f6ce77328e08",
      "name": "Send Failure Message",
      "webhookId": "e106a1fe-e636-4bbc-a932-8a9327c559e2",
      "credentials": {
        "telegramApi": {
          "id": "MvduJAmkBx25KJ9G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58b1e1c6-3236-4ed2-867d-ad1dd83a19bf",
              "leftValue": "={{ $json.result.rules[0].expression }}",
              "rightValue": "={{ $('Save IP Ban Data1').item.json.ip }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        896
      ],
      "id": "d56f4bef-2f2d-48f5-bb81-0ff3350e3277",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "IP SUDAH ADA"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2560,
        992
      ],
      "id": "815d096a-1194-431d-b071-e91cbe32118d",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "Cloudflare Block IP1": [
      {
        "json": {
          "result": {
            "description": "",
            "id": "0b1d0749a91d4e3181ac55992c15a911",
            "kind": "zone",
            "last_updated": "2025-07-24T01:27:11.795595Z",
            "name": "default",
            "phase": "http_request_firewall_custom",
            "rules": [
              {
                "action": "block",
                "description": "IP BAN BANGKE",
                "enabled": true,
                "expression": "(ip.src in {172.68.242.120 159.223.90.139 185.177.72.10})",
                "id": "f18651f457174cda862c91f1dc41a7bd",
                "last_updated": "2025-07-24T01:27:11.795595Z",
                "ref": "f18651f457174cda862c91f1dc41a7bd",
                "version": "12"
              }
            ],
            "source": "firewall_custom",
            "version": "19"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      }
    ],
    "Save IP Ban Data1": [
      {
        "json": {
          "ip": "185.177.72.10",
          "reason": "abuse detected from rate limiter",
          "timestamp": "2025-07-23T21:27:15.203-04:00",
          "zone_id": "f9259bfe590d9393b1f250d59dcf2de8"
        }
      }
    ]
  },
  "connections": {
    "Prepare WAF Rule": {
      "main": [
        [
          {
            "node": "Create WAF Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WAF Rule": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save IP Ban Data1": {
      "main": [
        [
          {
            "node": "Cloudflare Block IP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare Block IP1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Data1": {
      "main": [
        [
          {
            "node": "Send Success Message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare WAF Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failure Data1": {
      "main": [
        [
          {
            "node": "Send Failure Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Save IP Ban Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Prepare Success Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Failure Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "WAF Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7defad9e-4fa8-4844-afb3-a702044b2682",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ce5c7bb69689bb5026a039f71db56efa2d930850a7172513b11beb1d0cdb7c3"
  },
  "id": "b3FnC0HZgAB8Izzu",
  "tags": []
}